<div class="grid-container">
  <div class="grid-item" *ngFor="let item of items">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{item.title}}</mat-card-title>
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-header>
      <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
      <mat-card-content>
        <p>
          the id is: {{item.id}}
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          🏆
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <button mat-icon-button [matMenuTriggerFor]="editMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #editMenu="matMenu">
            <button mat-menu-item [routerLink]="['/add-item', item]">Edit: ✏️</button>
            <button mat-menu-item (click)="deleteItem($event, item)">Delete: ❌️</button>
        </mat-menu>
      </mat-card-actions>
    </mat-card>
  </div>
</div>