  <div class="container">
    <h3>Add an item</h3>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="item.title" name="title" matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="item.description" name="description" matInput placeholder="Description"></textarea>
      </mat-form-field>

      <button type="submit" mat-raised-button>Tilføj</button>
      <br/>
      <a [routerLink]="['/items']">Link</a>
    </form>
    <h6>{{item.title}}</h6>
    <h6>{{item.description}}</h6>
  </div>
